body {
  font-family: Integral CF;
}

.letter__correct {
  color: #FFDB58;
}

.letter__incorrect {
  color: red;
}

.typing__cursor {
  border-bottom: 4px solid black;
}


.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}